<!-- Components/header.html -->
<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #ff37fa;">
        <div class="container-fluid">
            <!-- Logo Placeholder -->
            <a class="navbar-brand text-white" href="index.html">
                <img src="images/logo/black_vcs_logo.png" alt="Vibrant Cleaning Solutions Logo" width="100">
            </a>
            <!-- Hamburger Menu for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="index.html">Home</a></li>
                    <!-- Dropdown Menu for Services -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="giftcard.html">Gift Cards</a></li>
                            <li><a class="dropdown-item" href="all-services.html">All Services</a></li>
                            <li><a class="dropdown-item" href="deep-cleaning.html">Deep Cleaning</a></li>
                            <li><a class="dropdown-item" href="appliance-cleaning.html">Appliance Cleaning</a></li>
                            <li><a class="dropdown-item" href="regular-cleaning.html">Regular Cleaning</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white" href="promotions.html">Promotions</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="stories.html">Stories</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="contact.html">Contact</a></li>
                    <li class="nav-item">
                        <!-- Book Now Button -->
                        <a class="btn btn-light text-black" href="https://book.squareup.com/appointments/2gdnh6p6i8arzk/location/LTFGV8958B597/services?buttonTextColor=ffffff&color=ff37fa&locale=en&referrer=so" target="_blank" rel="noopener noreferrer">BOOK NOW</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>